@import url('https://fonts.googleapis.com/css?family=Quattrocento');
* {
  margin: 0;
  padding: 0;
  border: 0;
}
#nav-toggle {
  display: none;
  z-index: 4;
}
#popout-menu {
  display: none;
  position: fixed;
  background-color: #225560;
  opacity: 0.75;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 3;
}
#popout-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 25vh;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: grid;
  grid-template-areas:
  "n h h"
  "n c c"
  "f f f";
  grid-template-columns: minmax(150px, 1fr) 2fr 2fr;
  grid-template-rows: minmax(150px, 350px) auto 50px;
  grid-gap: 1px;
  height: 100vh;
  color: #848c8e;
}
nav {
  grid-area: n;
  list-style-type: none;
  background-color: #370031;
  text-align: center;
}
li {
  padding: 50px;
  border-bottom: 1px solid #848c8e;
}
a {
  font-family: 'Quattrocento', serif;
  font-size: 20px;
  color: #efffde;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  grid-area: h;
  background-image: url("dogs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  grid-area: c;
  background-color: #848c8e;
  padding: 20px;
  color: #225560;
  font-size: 20px;
}
h1 {
  font-size: 50px;
  text-align: center;
}
p {
  width: 80%;
  padding: 20px;
  padding-top: 0;
  text-align: center;
}
ol {
  list-style-position: inside;
  text-align: center;
}
ol > li {
  padding: 0;
}
li:hover {
  background-color: #e5ffde;
  opacity: .90;
}
li:hover > a {
  color: #225560;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  grid-area: f;
  background-color: #7FB800;
  color: #e5ffde;
  padding: 5px;
}
@media (max-width: 600px) {
  #nav-toggle {
    display: block;
    position: fixed;
    left: 15px;
    top: 15px;
    width: 160px;
    height: 160px;
  }
  body {
    grid-template-areas:
    "n"
    "h"
    "c"
    "f";
    grid-template-columns: 1fr;
    grid-template-rows: 0px 20vh auto 50px;
  }
  nav {
    display: none;
  }
  p {
    width: 100%
  }
}
@media (min-width: 601px) {
  #popout-menu {
    display: none!important;
  }
}