body {
	font-size: 1.5em;	
}
img {
	width: 35%;
	heigth: auto;
}
ul {
	line-height: 1.5em;
	/*I don't like this
	line-height: 25px;*/
}
p {
	line-height: 1.5em;
	/*I don't like this
	line-height: 25px;*/
}
h1 {
	color: DarkGreen;
	font-family: Georgia;
	text-align: center;
}
h2 {
	font-family: Georgia;
	text-align: center;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.uppercase {
	text-transform: uppercase;
}
img {
	float: left;
	margin: 20px;
}
